

  <div class="field">
    <%= f.label :self %><br>
    <%= f.text_field :self %>
  </div>
  <div class="field">
    <%= f.label :father %><br>
    <%= f.text_field :father %>
  </div>
  <div class="field">
    <%= f.label :mother %><br>
    <%= f.text_field :mother %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.text_field :student %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
